* {
	box-sizing border-box
}
.list
	width 100%
	position relative
	
	&:after
		content ''
		display block
		clear both
		
		
	&-item
		width 50%
		float right
		position relative
		clear both
		
		&_first
			.hint-holder
				padding-top 0
			.hint-bullet
				top 0
			
			
		&_left
			float none
			clear none
			border-left 0
			border-right 1px solid #353541
			right -1px
			
			&:after
				content ''
				display none
			
			.hint-holder
				padding 40px unit(100 * 85/560, '%') 0 0
				
			.hint-bullet
				top auto
				bottom 40px
				left auto
				right 0
				
			.hint__triangle
				top auto
				bottom -10px
				left 100%
				border-width: 25px 0 25px 37px
				border-color: transparent transparent transparent #353541
				
				&:after
					content ''
					right 0
					border-radius 2px 0 0
					background #fff
					margin-top -2px
		
.hint-holder
	width 100%;
	padding 40px 0 40px unit(100 * 85/560, '%') 
	position relative
			
	
.hint
	background #353541
	padding 15px
	border-radius 3px
	position relative
	
	&__name
		display inline-block
		font-size 22px
		color #fff
		margin-right 20px
	
	&__nick
		display inline-block
		font-size 20px
		color #fff
	
	&__date
		text-transform uppercase
		font-size 18px
		color #fb6470
		margin-bottom 16px
	
	&__header
		margin-bottom 12px
		
	&__text-block
		font-size 16px
		color #fff
		line-height 27px
	
	&__triangle
		position absolute
		right 100%
		top -10px
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 25px 37px 25px 0;
		border-color: transparent #353541 transparent transparent;
		
		&:after
			content ''
			background #fff
			width 37px
			height 27px
			border-radius 0 0 2px 0
			position absolute
			margin-top -25px
	
	&-bullet
		position absolute
		z-index 2
		top 40px
		left 0
		
		&:after
			content ''
			position absolute
			top 10px
			left -10px
			width 20px
			height 20px
			background #fb6470
			border 2px solid #353541
			border-radius 50%
		&:before
			content ''
			position absolute
			top 0px
			left -20px
			width 40px
			height 40px
			background #fff
			border 2px solid #353541
			border-radius 50%
			
		
		
		
	
		
	
